body{
    margin: 0;
    background-color: #f2f2f2;
}
#root{
    display: flex;
    justify-content: center;
    

    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;

    background-color: rgb(255,255,255);
}
#root .element div{
    display: inline;
}
#root.container .element strong{
    display: block;
}